{% extends 'app.html' %}
{% block content %}
<style>
    main {
        grid-template-columns: auto;
        place-content: center;
    }
    label{
        margin: 5px 0px 5px 0px;
    }
    .form-user-profile .input-group{
        padding: 10px;
        margin: 5px;
    }
    .input-group input[type="submit"]{
        background-color:#145DA0;
    }
    .profile-user {
        grid-template-columns: 1fr;
        place-content: center;
    }
</style>
<div class="user-profile">
    <div class="profile-info">
        <h3>Profile</h3>
    </div>
    <div class="profile-body">
        <div class="profile-user">
            <form class="form-user-profile" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-group">
                    <label for="">{{field.label}}</label>
                    {{field}}
                </div>       
                {% endfor %}
                <div class="input-group">
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}